DATABASE_URL=

# Service Network
SERVICE_PORT=
SERVICE_HOST=

# Naver API
NAVER_NEWS_ID=
NAVER_NEWS_SECRET=
NAVER_POST_ID=
NAVER_POST_SECRET=
JWT_SECRET=
JWT_REFRESH_SECRET=

# Push Alarm
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=

# Montoring Hash
METRICS_TOKEN=